@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans:wght@300;400;500;700;800;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto+Slab:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

body {
  background-color: #ffedff;
}

/* Navbar */
nav {
  width: 100%;
  padding: 1.4rem 0;
  background-color: #ffedff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a.logo {
  font-size: 3rem;
  color: #ff487e;
  font-weight: 700;
  text-decoration: none;
  font-family: "Jost";
}

nav a.logo span {
  color: #ff9776;
}

nav .menu {
  display: flex;
  align-items: center;
}

nav .menu li {
  margin-left: 3rem;
  list-style: none;
}

nav .menu li a {
  color: #2f2e41;
  font-size: 1.5rem;
  font-weight: 500;
  /* transition: all .3s ease; */
  font-family: "Poppins";
  text-decoration: none;
}

nav .menu li a:hover {
  color: #ff9776;
}

nav .menu li .btn {
  padding: 0.4rem 2rem;
  border: 2px solid #ff487e;
  border-radius: 8px;
}

nav .menu li .about {
  color: #ff487e;
}

nav .menu li .about:hover {
  background-color: #ff487e;
  color: #ffedff;
}

nav .menu li .post {
  background-color: #ff487e;
  color: #ffedff;
}

nav .menu li .post:hover {
  background-color: transparent;
  color: #ff487e;
}

/* Header */

header {
  width: 100%;
  height: 100vh;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

header img {
  width: 32rem;
  height: 32rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

header .title {
  font-size: 4.5rem;
  font-family: "Jost";
  font-weight: 700;
  color: #2f2e41;
  line-height: 130%;
  margin-bottom: 22px;
}

header .title span {
  color: #ff9776;
}

header p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 180%;
  font-family: "Poppins";
  margin-bottom: 38px;
}

header .container a {
  text-decoration: none;
  font-size: 1.8rem;
  font-family: "Poppins";
  padding: 0.8rem 6.4rem;
  border: 2px solid;
  color: white;
  /* background-color: #FF9776; */
  background-color: #ff487e;
  border-radius: 8px;
  transition: 0.3s;
}

header .container a:hover {
  background-color: transparent;
  color: #ff487e;
}

nav .menu-bar {
  display: none;
}

/* Info */
section#info {
  width: 100%;
  padding: 10rem 0;
}

section#info .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  background-color: #ffd5be;
  border-radius: 18px;
}

section#info .item .title {
  font-size: 4rem;
  font-family: "Jost";
  font-weight: 600;
  color: #2f2e41;
}

section#info .container > span {
  width: 3px;
  background-color: #ffedff;
  height: 8.6rem;
}

section#info .item .subtitle{
  font-size: 2.2rem;
  font-weight: 500;
  font-family: 'Poppins';
  color: #ff487e;
}

/* Favourite */
section.favourite{
  width: 100%;
}

section.favourite .container{
  background-color: #ffd5be;
  border-radius: 18px;
  padding: 55px 80px;
}

section.favourite h3.title{
  font-size: 2.6rem;
  font-weight: 700;
  font-family: 'Jost';
  color: #2f2e41;
  text-align: center;
  position: relative;
  margin-bottom: 64px;
}

section.favourite h3.title::before{
  content: '';
  width: 6rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  height: 4px;
  background-color: #ff487e;
}

section.favourite .contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

section.favourite .content img{
  width: 100%;
  /* height: auto; */
  /* height: 20rem; */
  /* object-fit: cover; */
}

section.favourite .contents .content{
  width: 256px;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

section.favourite .contents .content .foot{
  position: absolute;
  width: inherit;
  bottom: 0;
  top: 146px;
  border-radius: 18px 18px 0 0;
  background-color: #ffedff;
  padding: 26px;
}

section.favourite .contents .content .foot h4{
  font-size: 2.4rem;
  font-weight: 700;
  font-family: 'Jost';
  color: #2f2e41;
  margin-bottom: 8px;
}

section.favourite .contents .content .foot .pricing{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.favourite .contents .content .foot .pricing .user{
  color: #ffd5be;
}

section.favourite .contents .content .foot .pricing .user span{
  color: #2f2e41;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Poppins';
  margin-left: 0.8rem;
}

section.favourite .contents .content .foot .pricing .price{
  font-size: 2.6rem;
  font-weight: 600;
  font-family: 'Poppins';
  color: #2f2e41;
}

section.favourite .contents .content .foot .stars{
  color: #ff9776;
  font-size: 1.5rem;
  margin-bottom: 18px;
}

section.favourite .contents .content .foot .msg{
  display: block;
  padding: 0.4rem 3.4rem;
  background-color: #ff487e;
  border: 2px solid #ff487e;
  border-radius: 5px;
  color: #ffedff;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.6rem;
  transition: all .3s ease;
}

section.favourite .contents .content .foot .msg:hover{
  background-color: transparent;
  color: #ff487e;
}

section.favourite .more{
  display: block;
  width: 200px;
  padding: 0.6rem 0.1rem;
  color: #ff487e;
  margin: 0 auto;
  text-decoration: none;
  font-size: 1.6rem;
  border: 2px solid #ff487e;
  font-family: 'Poppins';
  font-weight: 500;
  text-align: center;
  margin-top: 22px;
  border-radius: 5px;
  transition: all .3s ease;
}

section.favourite .more:hover{
  background-color: #ff487e;
  color: #ffedff;
}

section.favourite .contents .content .pricing .price i{
  font-size: 2rem;
  top: 0;
}

/* Services */

section.services{
  width: 100%;
  padding: 100px 0;
}

section.services h3.title{
  font-size: 2.6rem;
  font-weight: 700;
  font-family: 'Jost';
  color: #2f2e41;
  text-align: center;
  position: relative;
  margin-bottom: 64px;
}

section.services h3.title::before{
  content: '';
  width: 6rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  height: 4px;
  background-color: #ff487e;
}

section.services .item{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

section.services .item:nth-child(2){
  margin-bottom: 100px;
}

section.services .item .image img{
  width: 25rem;
  height: 25rem;
  border-radius: 18px;
  overflow: hidden;
  object-fit: cover;
}

section.services .item .text{
  width: 70%;
}

section.services .item .text .head{
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Jost';
  color: #2f2e41;
  margin-bottom: 12px;
}

section.services .item .text p{
  font-family: 'Poppins';
  font-size: 1.3rem;
  line-height: 190%;
  color: #424243;
  font-weight: 400;
  margin-bottom: 4rem;
}

section.services .item .text .gallery{
  padding: 4px 26px;
  border-radius: 5px;
  border: 2px solid #ff487e;
  background-color: #ff487e;
  transition: all .3s ease;
  color: #ffedff;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 1.3rem;
}

footer{
  width: 100%;
  background-color: #2f2e41;
  padding: 20px 0;
}

footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .logo{
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Jost';
  text-decoration: none;
  color: #ff487e;
}

footer .logo span{
  color: #ff9776;
}

footer p{
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Jost';
  color: #ffedff;
}

footer .copyright{
  display: flex;
  align-items: center;
}

footer .copyright i{
  margin-right: 5px;
  color: #ffedff;
}








/* Media Query */

@media screen and (min-width: 1655px) {
  html {
    font-size: 80%;
  }

  section.favourite .contents{
    flex-wrap: wrap;
  }

  section.favourite .contents .content{
    width: 300px;
    height: 410px;
    margin-bottom: 40px;
    margin-right: 3px;
  }
}

@media (max-width: 1137px) {
  html {
    font-size: 60%;
  }

  header img {
    display: none;
  }

  header .heading {
    text-align: center;
    margin: 0 auto;
  }

  header p {
    margin-top: 2rem;
  }

  section.favourite .contents .content{
    width: 350px;
    height: 344px;
  }
}

@media (max-width: 1036px) {
  html {
    font-size: 48%;
  }

  section.favourite .contents{
    /* flex-direction: column; */
  }

  section.favourite .contents .content{
    width: 300px;
    height: 314px;
  }
}

@media (max-width: 912px){
  html{
    font-size: 50%;
  }

  section.favourite .contents{
    justify-content: center;
    column-gap: 20px;
  }

  section.favourite .contents .content{
    width: 240px;
    height: 326px;
  }

  section.favourite .container{
    padding-right: 5%;
    padding-left: 5%;
  }

  /* Services */

  section.services .item .text{
    width: 68%;
  }
}

@media (max-width: 730px) {

  html{
    font-size: 50%;
  }

  nav {
    padding: 1rem 0;
  }

  nav .menu-bar {
    display: block;
    font-size: 2.4rem;
    position: relative;
    z-index: 1;
  }

  nav .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background-color: #ffedff;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }

  nav .menu.active {
    transform: translateX(0);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }

  nav .menu li {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  nav .menu li a {
    font-size: 2.4rem;
  }

  section#info .container{
    justify-content: space-around;
    column-gap: 10px;
    padding: 20px 50px;
  }

  section.favourite .contents .content{
    margin-right: 0px;
  }

  /* Services */

  section.services .item{
    flex-direction: column;
  }

  section.services .item .text{
    width: 100%;
  }

  section.services .item .text .head{
    font-size: 2.5rem;
  }

  section.services .item .text p{
    font-size: 1.6rem;
  }

  section.services .item:nth-child(3){
    flex-direction: column-reverse;
  }

  section.services .item .image img{
    width: 70%;
    height: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px){

  section#info .container > span{
    width: 2px;
    height: 40px;
  }

  section#info .container{
    padding: 20px 30px;
  }

  section#info .item .title {
    font-size: 2.8rem;
  }
  
  section#info .item .subtitle{
    font-size: 1.4rem;
  }

  section.favourite .contents .content{
    width: 230px;
    height: 325px;
  }

  section.favourite .container{
    padding-right: 5%;
    padding-left: 5%;
  }

  /* Services */
  section.services .item .image img{
    width: 330px;
    height: 330px;
    margin-bottom: 30px;
  }
}

